@import './custom';

/* This will be used to change overall site's color variables */
body {
  overflow-x: hidden;
}

#page-title-container {
  background-color: $primary-test-color;
  .fc-page-title {
    background-color: $primary-test-color;
  }
}

.pg-body-wrap {
  background-color: $primary-test-color;
  overflow-x: hidden;
  .inner-static-html-content {
    h2 {
      text-transform: capitalize;
      font-size: 1.8em !important;
      font-weight: 500;
    }
  }
}

.fc-page-title {
  background-color: $primary-test-color;
  color: $primary-font-color;
}

.content-container li {
  color: $primary-font-color;
  p {
    color: $primary-font-color;
  }
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  color: $primary-font-color;
}

/* to have navbar collapse on ipad and ipad pro */
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}
