@import './custom';

/* This will be used to change overall site's color variables */
body {
  overflow-x: hidden;
}

#page-title-container {
  background-color: $primary-test-color;
  .fc-page-title {
    background-color: $primary-test-color;
  }
}

.pg-body-wrap {
  padding-top: 14vh;
  background-color: $primary-test-color;
  overflow-x: hidden;
}

.fc-page-title {
  background-color: $primary-test-color;
  color: $primary-font-color;
}

.content-container li {
  color: $primary-font-color;
  p {
    color: $primary-font-color;
  }
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  color: $primary-font-color;
}
