@import '_rolls2_css/scss/_custom.scss';
/* Footer */

$footer-font-color: #959493;

.footer {
  background-color: #000;
  border-top: none !important;
  padding-bottom: 30px;
  & > p {
    color: $footer-font-color !important;
    font-weight: bold !important;
  }
  .footer-left {
    p {
      font-size: 1.3em;
      color: $footer-font-color;
      a {
        color: $footer-font-color;
      }
    }
    ul.footer-list {
      li {
        padding: 0.35vh 0;
        color: $footer-font-color;
        a {
          color: $footer-font-color;
        }

        ul.sub-items {
          padding-left: 1vw;
        }
      }
    }
    #social-media {
      display: flex;
      flex-direction: column;
      li {
        .fa {
          padding-right: 0.6vw;
          font-size: 1.6em;
          color: $footer-font-color;
        }
      }
    }
  }
  .footer-right {
    #logo-and-address {
      img {
        height: 215px;
      }
      p {
        color: $footer-font-color;
        font-size: 1.4em;
        padding: 1vh 2vw 1vh 1vw;
      }
    }
  }
}

#pm-disclaimer {
  background-color: #000;
  h4 {
    color: $footer-font-color !important;
  }
}
