@import '_rolls2_css/scss/_custom.scss';
/* Footer */
.footer {
  background-color: #000;
  border-top: none !important;
  & > p {
    color: #959493 !important;
    font-weight: bold !important;
  }
}

#pm-disclaimer {
  background-color: #000;
  h4 {
    color: #959493 !important;
  }
}
