@import '_rolls2_css/scss/_custom.scss';
/* NavBar Changes */
.navbar {
  position: fixed !important;
  top: 80px;
  overflow-y: auto;
  @include ui-shadow-no-hover;
  @include screen-queries-min-width('sm') {
    position: fixed !important;
    overflow: visible;
  }
}

// .navbar-inverse {
//   background-color: #52575a !important;
// }

// .navbar-nav .dropdown-menu {
//   background-color: #202121 !important;
// }

// .navbar-nav .dropdown-menu li a {
//   color: $primary-font-color !important;
// }

// .navbar-nav .dropdown-menu li:hover {
//   background-color: $primary-test-color !important;
// }
