@import '_rolls2_css/scss/_custom.scss';
/* NavBar Changes */
#custom-header {
  position: -webkit-sticky !important;
  position: sticky !important;
  display: block;
  z-index: 9999;
  background-color: #000;
  top: 0;
  overflow-y: visible;
  @include ui-shadow-no-hover;

  .navbar-logo-mobile {
    position: relative;
    display: block;
    margin-bottom: -70px;
    & > img.img-responsive {
      margin: auto;
      margin-top: -10px;
      @include screen-queries-min-width('sm') {
        height: 120px;
      }
    }
    @media (max-width: 767px) {
      img.img-responsive {
        height: 74px;
        width: 200px;
      }
    }
    @include screen-queries-min-width('md') {
      display: none;
      margin-bottom: 0;
    }
  }

  .navbar-logo-desktop {
    display: none;
    img {
      width: 12vh;
      @include screen-queries-min-width('lg') {
        width: 25vh;
      }
    }
    @include screen-queries-min-width('md') {
      display: block;
      padding: 0 1vw;
    }
  }

  .navbar {
    z-index: 999;
    background-color: transparent !important;
    ul.navbar-nav {
      background-color: #000 !important;
      padding: 2vh 0vw 0vh 3vw;
      @media (min-width: 1024px) and (max-width: 1199px) {
        padding: 0vh 0vw 0vh 3vw;
      }
      @media (min-width: 1366px) {
        padding: 2vh 0vw 0vh 6vw;
      }
      li {
        text-transform: uppercase;
        @include screen-queries-min-width('lg') {
          border-bottom: none;
        }
        a {
          @include screen-queries-min-width('lg') {
            padding-right: 20px !important;
          }
          @media (min-width: 1024px) and (max-width: 1199px) {
            padding-right: 10px !important;
            font-size: 12px !important;
          }
        }
      }
    }
    .navbar-directions {
      display: none;
    }
  }

  #phone-and-social {
    display: block;
    top: 10px;
    padding: 5px 20px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 2px 11px -6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 11px -6px rgba(0, 0, 0, 0.25);
    @include screen-queries-min-width('md') {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    #phone {
      font-size: 1.35em;
      letter-spacing: 0.02em;
      color: #fff;
      @include screen-queries-min-width('lg') {
        display: flex;
        justify-content: center;
        font-size: 1.7em;
        font-family: 'Proxima-Semibold', Arial, Helvetica, sans-serif;
        font-weight: 600;
        padding-right: 35px;
      }
      @media (min-width: 1024px) and (max-width: 1199px) {
        font-size: 1em;
      }
    }

    #social-media {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: space-evenly;
      a {
        padding: 2px 0px;
        font-size: 1.6em;
        .fa {
          color: #fff;
        }
        @include screen-queries-min-width('sm') {
          justify-content: center;
          padding: 2px 10px;
        }
        @include screen-queries-min-width('md') {
          font-size: 1.3em;
          padding: 2px 5px;
        }
        @include screen-queries-min-width('lg') {
          font-size: 2em;
          padding: 2px 5px;
        }
      }
      @include screen-queries-min-width('sm') {
        justify-content: center;
      }
    }
  }
  @include screen-queries-min-width('md') {
    padding-bottom: 5px;
  }
}

/* to have navbar collapse on ipad and ipad pro */
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    span.icon-bar {
      border-radius: 0;
      padding: 1.5px 0;
      background-color: #fff !important;
    }
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;

    .dropdown-menu li a {
      background-color: #000 !important;
      &:hover {
        background-color: #000 !important;
      }
    }
    li {
      float: none;
      .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff !important;
        x .navbar-text {
          float: none;
          margin: 15px 0;
        }
      }
    }
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}
