@import '_rolls2_css/scss/_custom.scss';
/* NavBar Changes */
.navbar {
  position: sticky !important;
  top: 0;
  overflow-y: auto;
  @include ui-shadow-no-hover;
  @include screen-queries-min-width('sm') {
    position: fixed !important;
    overflow: visible;
  }
  ul.navbar-nav {
    padding-top: 15px;
    li {
      text-transform: uppercase;
    }
  }

  .navbar-logo {
    position: relative;
    display: block;
    @include screen-queries-min-width('md') {
      display: none;
    }
  }

  .navbar-brand {
    display: none;
    @include screen-queries-min-width('md') {
      display: block;
    }
  }
}

// .navbar-inverse {
//   background-color: #52575a !important;
// }

// .navbar-nav .dropdown-menu {
//   background-color: #202121 !important;
// }

// .navbar-nav .dropdown-menu li a {
//   color: $primary-font-color !important;
// }

// .navbar-nav .dropdown-menu li:hover {
//   background-color: $primary-test-color !important;
// }
