@import '_rolls2_css/scss/_custom.scss';
/* Inventory page VLP */

$vlp-font-color: #999999;

.vdp {
  background-color: $inventory-primary-color;
  #inventory-display-container {
    background-color: $inventory-primary-color !important;
    #vlp-filters {
      margin-top: 0;
      @include screen-queries-min-width('md') {
        margin-top: 0;
      }
      background-color: $inventory-primary-color;
      @include ui-shadow-no-hover;
      #vlp-search-panel {
        background-color: $inventory-primary-color;
        .logo-container {
          display: none;
          margin-left: -15px;
          .dealer-name-static {
            font-size: 11px;
            font-weight: 700;
            visibility: visible;
            padding: 32px 0px 0px 5px;
          }
        }
      }
      #search-heading {
        margin-top: 0;
      }
      #advanced-search {
        input {
          border-radius: 0;
        }
        button#stock-search-submit {
          color: $primary-font-color;
          background-color: $primary-test-color;
          @include vlp-vdp-a-tag-btn;
          padding: 0;
        }
        button {
          border-radius: 0;
        }

        button#adv-search-button {
          display: none;
        }
        button#reset-search {
          display: none;
        }
      }
      #refine-search {
        ul.list-unstyled {
          column-count: 2;
          -webkit-column-count: 2;
          -moz-column-count: 2;
        }
        .fa {
          display: none;
        }
        .pull-right {
          display: none;
        }
      }
      #latest-arrival {
        margin: 10px 0 20px 0;
        .latest-arrival-content {
          .single-latest-vehicle {
            .img-and-overlay {
              position: relative;
              img {
                @include ui-shadow-no-hover;
              }
              .reference-overlay {
                display: block;
                position: absolute;
                z-index: 20;
                background: rgba(0, 0, 0, 0.4);
                overflow: hidden;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                a {
                  @include text-box-shadow;
                  @include a-tag-button-style;
                  -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  text-transform: uppercase;
                  font-weight: bold;
                  color: $secondary-font-color;
                  text-decoration: none;
                  padding: 5px 11px 8px;
                }
              }
              &:hover .reference-overlay {
                height: 100%;
              }
            }
            @include gray-img-filter;
            .price-and-name {
              margin: 5px 0;
            }
          }
        }
      }
      @include screen-queries-min-width('md') {
        position: fixed;
        z-index: 9;
        left: 0;
        top: 10vh;
        background: #fff;
        opacity: 1;
        border-bottom: 20px solid #314354;
        -webkit-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out;
        height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
        right: 18px;
        padding-top: 0;
        @include screen-queries-min-width('lg') {
          width: 20%;
          top: 12vh;
          height: 88vh;
        }
        @include screen-queries-min-width('xtra-lg') {
          top: 13vh;
          height: 87vh;
        }
      }
    }
    .cta-button-list {
      margin: 10px 0;
      .cta-button {
        position: absolute;
        right: 0;
        bottom: -10px;
        @include vlp-vdp-a-tag-btn;
        color: $primary-font-color !important;
        @include screen-queries-min-width('md') {
          bottom: 20px;
        }
      }
    }

    /* This also manipulates the cta buttons */
    /* this css implementation goes along    */
    /* with the above code line 27 - 36      */
    #vlp-list {
      .vlp-item {
        background-color: $inventory-primary-color;
        border: none;
        border-bottom: solid thin #dbdbd;
        border-radius: 0;
        box-shadow: none;

        #vehicle-info-wrapper {
          h2 {
            font-size: 1.4em;
            font-weight: 500;
            color: $vlp-font-color;
          }
          .pricing-block {
            h4 {
              color: $vlp-font-color;
              font-weight: 500;
              font-size: 1.4em;
            }
          }
        }
      }

      .btn-group {
        margin-top: 0;
        .btn {
          font-size: 1.2rem;
          letter-spacing: 1px;
          text-align: center;
          width: 150px;
          background-color: transparent;
          border-radius: 0;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          @include screen-queries-min-width('sm') {
            line-height: 0;
          }
          &:hover {
            background-color: #000;
          }
        }
      }
      .panel {
        padding: 0;
      }
    }
    #vlp-content {
      padding-top: 0;
    }
    h1#inventory-page-title {
      border-bottom: solid thin #dbdbdb;
      color: $vlp-font-color;
      font-size: 1.5em;
      margin-bottom: 5vh;
    }
  }
  #dealer-comments {
    h4 {
      font-size: 0.8em;
    }
    p {
      font-size: 0.7em;
    }
  }
}

/* Previously Written VLP */
.inventory-display-container .vlp-container > h1 {
  color: $primary-font-color;
}

#vlp-search-panel .panel-body {
  padding: 30px;
}

#vlp-search-results {
  color: $primary-font-color;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  color: #52575a !important;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  color: #52575a !important;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  color: #52575a !important;
}

.comments-container {
  color: $primary-font-color;
}

.comments-container #advertisement {
  color: $primary-font-color;
}

.bx-prev,
.bx-next,
.slick-arrow {
  z-index: 990 !important;
}

#vehicle-save-modal,
#vehicle-save-login-modal,
#vehicle-comparison-modal {
  z-index: 10000 !important;
}
