@import '_rolls2_css/scss/_custom.scss';
/* Inventory page VLP */
.vdp {
  #inventory-display-container {
    background-color: $inventory-primary-color !important;
  }
  .cta-button-list {
    margin: 10px 0;
    .cta-button {
      position: absolute;
      right: 0;
      bottom: -10px;
      font-weight: 700;
      padding-left: 40px;
      padding-right: 40px;
      text-transform: uppercase;
      margin-bottom: 0px !important;
      border-color: #000;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-box-shadow: none;
      box-shadow: none;
      cursor: pointer;
      color: $primary-font-color !important;
      @include screen-queries-min-width('md') {
        bottom: 20px;
      }
      &:hover {
        background-color: #000;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: $secondary-font-color !important;
      }
      &:focus {
        outline: 0;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      &:active {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  #vlp-list {
    .vlp-item {
      background-color: $inventory-primary-color;
      border: none;
      border-bottom: solid thin #ebebeb;
      border-radius: 0;
      box-shadow: none;
    }
    .btn-group {
      margin-top: 0;
      .btn {
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-align: center;
        width: 16rem;
        height: 4rem;
        background-color: transparent;
        border-radius: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        @include screen-queries-min-width('sm') {
          line-height: 0;
        }
        &:hover {
          background-color: #000;
        }
      }
    }
  }
}

/* Previously Written VLP */
.inventory-display-container .vlp-container > h1 {
  color: $primary-font-color;
}

#vlp-search-panel .panel-body {
  padding: 30px;
}

#vlp-search-results {
  color: $primary-font-color;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  color: #52575a !important;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  color: #52575a !important;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  color: #52575a !important;
}

.comments-container {
  color: $primary-font-color;
}

.comments-container #advertisement {
  color: $primary-font-color;
}

.bx-prev,
.bx-next,
.slick-arrow {
  z-index: 990 !important;
}

#vehicle-save-modal,
#vehicle-save-login-modal,
#vehicle-comparison-modal {
  z-index: 10000 !important;
}
