@import '_rolls2_css/scss/_custom.scss';

/* redesign for contact-us/find Us section */

/* To set font to be visible on white background */
.fa {
  color: $primary-font-color;
}

#methods-content h3,
#methods-content p {
  color: $primary-font-color;
}

#methods-content .contents {
  margin: 5px 0;
}

.gform_title {
  color: $primary-font-color;
}

#gmap_canvas_container {
  padding: 20px 0;
}

#gmap_canvas_container #gmap_canvas {
  @include ui-shadow-no-hover;
}
