@import '_rolls2_css/scss/_custom.scss';

/* Title Personalizer */
#personalizer {
  position: relative;
  #personalized-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0px 50px;
    @include screen-queries-min-width('md') {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include ui-shadow-with-hover;
    }
    @include screen-queries-min-width('lg') {
      img {
        height: 300px;
      }
    }

    @media (max-width: 1023px) {
      background-color: transparent;
    }
    @include page-title-border-box;
    .title {
      font-size: $title-font-size;
      margin: 10px 0 0 0;
      padding: 15px;
      color: $secondary-font-color;
      text-align: center;
    }
    h1 {
      width: 29rem;
      text-align: center;
      color: $primary-font-color;
      padding-top: 25px;
      @include screen-queries-min-width('md') {
        display: none;
      }
    }

    p {
      text-align: center;
      margin-bottom: 40px;
      img {
        display: none;
        margin: 20px;
        width: 400px;
        @media (min-width: 1024px) and (max-width: 1365px) {
          display: block;
          margin: auto;
          height: 230px;
        }
        @include screen-queries-min-width('md') {
          display: block;
          width: auto;
        }
      }

      a {
        @include a-tag-button-style;
        @media (max-width: 1023px) {
          color: $primary-font-color;
          border-color: $primary-border-background-color;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          margin: 0 40px 15px;
        }
      }
    }
  }
  .slick-slide img.img-responsive {
    @include screen-queries-min-width('lg') {
      width: 100%;
      height: 650px;
    }
  }
}
